@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{

    var uniqueName = Model?.Content.Value<string>("uniqueName");
    var placeholderText = Model?.Content.Value<string>("placeholderText");
    var labelText = Model?.Content.Value<string>("labelText");
}

<div id="_@uniqueName" class="form-input-group">
    <label class="form-label" for="@uniqueName">@labelText</label>
    <input id="@uniqueName" name="@uniqueName" placeholder="@placeholderText" class="form-input">
</div>